.category-filter {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.category-filter button {
  background: var(--color-white);
  border: 1px solid var(--color-primary-variant);
  padding: 10px 20px;
  margin: 0 5px;
  border-radius: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category-filter button.active,
.category-filter button:hover {
  background: var(--color-bg-variant);
  color: #fff;
}

.project__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.project__item {
  background: var(--color-bg-variant);
  padding: 1.2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.project__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

.project__item img {
  width: 420px;
  height: 200px;
  border-radius: 1.5rem;
  overflow: hidden;
  transform: translate(0);
}

.project__item h3 {
  margin: 0.6rem 0 1rem;
  text-align: center;
}

.project__item p {
  margin: 1.2rem 0 2rem;
  font-size: 14px;
}

.project__item-cta {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* **** MEDIA QUERIES (MEDIUM DEVICES) **** */
@media screen and (max-width: 1024px) {
  .project__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* **** MEDIA QUERIES (SMALL DEVICES) **** */
@media screen and (max-width: 600px) {
  .project__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
