.container.contact__container {
  width: 60%;
  display: grid;
  grid-template-columns: 30% 60%;
  gap: 10%;
  margin-bottom: 6rem;
}

.contact__options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.contact__option {
  background: var(--color-bg-variant);
  padding: 1rem;
  border-radius: 1rem;
  text-align: center;
  border: 1px solid transparent;
  transition: var(--transition);
}

.contact__option:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
}

.contact__option-icon {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.contact__option a {
  font-size: 0.8rem;
  margin-top: 0.7rem;
  display: inline-block;
}

/* **** FORM **** */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

textarea,
input {
  width: 100%;
  background: transparent;
  border-radius: 0.5rem;
  padding: 1.5rem;
  border: 2px solid var(--color-primary-variant);
  resize: none;
  color: var(--color-white);
}

/* **** MEDIA QUERIES (MEDIUM DEVICES) **** */
@media screen and (max-width: 1024px) {
  .container.contact__container {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
}

/* **** MEDIA QUERIES (SMALL DEVICES) **** */
@media screen and (max-width: 600px) {
  .container.contact__container {
    width: var(--container-width-sm);
  }
}
